@media screen and (min-width: 501px)and (max-width: 768px) {
  main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    min-height: calc(100vh - 144px) !important;
  }
  .menu {
    width: 50% !important;
    opacity: 1!important;
}

  ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .portraits{
    margin: auto;
    position: relative;
    z-index: 0;
  }
  .small-header {
    margin-bottom: 1rem;
    text-align: center;
  }
  .large-header {
    margin-top: 1rem;
    font-size: 4.3rem !important;
    color: #220101;
}
}

@media screen and (max-width: 500px) {
  .menu {
    width: 100% !important;
    opacity: 1!important;
  }
  body{
    margin: 0;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .large-header {
    margin-top: 1rem;
    font-size: 2.7rem !important;
  }
  .projects {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .portraits{
    margin: auto;
    position: relative;
    z-index: 0 !important;
  }
  .icons{
    position: relative;
    z-index: 0!important;
  }
}
@media screen and (min-width: 1171px) {
  .projects {
    -ms-grid-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
  }
  .menu {
    width: 40% !important;
    opacity: 1!important;
}
main .large-header {
  margin-top: 1rem;
  font-size: 4.5rem !important;
}
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .portraits{
    margin: auto;
    position: relative;
    z-index: 0 !important;
  }
  .icons{
    position: relative;
    z-index: 0 !important;
  }
  main .large-header {
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 3.5rem !important;
  }
  ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2" !important;
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }
  .projects {
    grid-template-columns: 1fr !important;
    -ms-grid-columns: 1fr !important;
  }
}
