html {
  body {
    overflow: hidden;
    background: #ada996; /* fallback for old browsers */
    background: linear-gradient(
        to right,
        rgba(173, 169, 150, 0.9),
        rgba(242, 242, 242, 0.9),
        rgba(219, 219, 219, 0.9),
        rgba(234, 234, 234, 0.9)
      ),
      url(../img/codebackground.jpg) no-repeat;
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea),
      url(../img/codebackground.jpg) no-repeat;
    background-size: auto;
    background-attachment: fixed;
    z-index: 0;
    color: #220101;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
  }
}
.menu-btn {
  position: absolute;
  z-index: 1;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 2;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  opacity: 1;
  visibility: hidden;
  &.show {
    visibility: visible;
  }

  .menu-nav {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: start;
    float: right;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 3;
    margin: 0;
    padding: 0;
    background: #ada996;
    list-style: none;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    &.show {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .nav-item {
    -webkit-transform: translate3d(600px, 0, 0);
    transform: translate3d(600px, 0, 0);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    &.show {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .nav-link {
      display: inline-block;
      position: relative;
      font-size: 30px;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300px;
      color: #000;
      text-decoration: none;
      -webkit-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
    }
  }
}
#work {
  .large-header {
    margin-bottom: 1rem;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    // grid-gap: 1.2rem 2%;
    justify-content: start;
    position: relative;
    .item {
      z-index: 0;
      flex: 0 0 100%;
      max-width: 100%;
      margin: 1rem auto;
      z-index: 5;
      transition: 0.5s;
      &:hover {
      }

      a {
        text-decoration: none;
      }
      .item--image {
        flex-grow: 1;
        margin-bottom: 1rem;
        position: relative;
        height: 100%;
        width: 100%;
        border: 1px #6f0000 solid;
        img {
          width: 100%;
          max-height: 320px;
          min-height: 150px;
          height: 100%;
          @media screen and (min-width: 576px) {
            min-height: 210px;
          }
        }
        &:after {
          content: "";
          z-index: 10;
          width: 200%;
          height: 100%;
          top: -90%;
          left: -20px;
          opacity: 0.1;
          transform: rotate(45deg);
          background: linear-gradient(
            to top,
            transparent,
            #fff 15%,
            rgba(255, 255, 255, 0.5)
          );
          transition: 0.5s;
        }
        &:hover {
          transform: translateY(-3px) scale(1.02) rotateX(15deg);

          box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.6);
          border-color: #ffefba;
          transition: all 0.5s ease-in-out;
          .item--title {
            display: none;
            transition: 0.3s;
          }
          &:after {
            transform: rotate(25deg);
            top: -40%;
            opacity: 0.15;
          }
        }
        .item--title {
          transition: 0.3s;
          background: #00000080;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            font-weight: 700;
            color: #fff;
          }
        }
      }
      .work--buttons {
        justify-content: space-between;
        display: flex;
        .btns {
          margin: 0;
          display: inline-block;
          position: relative;
          padding-top: 0.8rem;
          // padding-right: 1.6rem;
          padding-bottom: 0.8rem;
          width: 100%;
          text-align: center;
          // padding-left: 1.6rem;
          color: #6f0000;
          font-weight: 700;
          line-height: 1;
          z-index: 1;
          transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 0;
            background-image: linear-gradient(135deg, #6f0000, #850202);
            right: 0;
            z-index: -1;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          }
        }
        .live {
          a {
            background-image: -o-linear-gradient(315deg, #6f0000, #850202);
            background-image: linear-gradient(135deg, #6f0000, #850202);

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            color: #6f0000;
            -webkit-text-fill-color: #6f0000;
            border: 2px solid transparent;
            -o-border-image: -o-linear-gradient(315deg, #6f0000, #850202);
            border-image: linear-gradient(135deg, #6f0000, #850202);
            border-image-slice: 1;
            &:after {
              bottom: 0;
            }
            &:hover {
              -webkit-text-fill-color: #fff;
              text-decoration: none;
              transition: all 0.3s ease-in-out;
              &:after {
                height: 100%;
              }
            }
          }
        }
        .source {
          a {
            border: 2px solid transparent;
            &:after {
              top: 0;
            }
            &:hover {
              background-image: -o-linear-gradient(315deg, #6f0000, #850202);
              background-image: linear-gradient(135deg, #6f0000, #850202);

              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              color: transparent;
              color: #6f0000;
              -webkit-text-fill-color: #6f0000;
              -o-border-image: -o-linear-gradient(315deg, #6f0000, #850202);
              border-image: linear-gradient(135deg, #6f0000, #850202);
              border-image-slice: 1;
              -webkit-text-fill-color: #fff;
              text-decoration: none;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              &:after {
                height: 100%;
              }
            }
          }
        }
        div {
          flex: 0 0 48.5%;
          max-width: 48.5%;
        }
      }
    }
  }
}
@media screen and (min-width: 576px) {
  #work {
    .projects {
      .item {
      }
    }
  }
}
@media screen and (min-width: 768px) {
  #work {
    .projects {
      .item {
        flex: 0 0 49%;
        margin: 1.5rem auto;
        max-width: 49%;
        &:nth-last-child(1) {
          margin: 1.5rem 4.484px;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  #work {
    .projects {
      // .item {
      //   flex: 0 0 32%;
      //   max-width: 32%;
      // }
    }
  }
  #home {
    .large-header,
    .small-header {
      width: fit-content;
    }
  }
}
@media screen and (min-width: 1200px) {
  #work {
    .projects {
      .item {
        flex: 0 0 32%;
        max-width: 32%;
        &:nth-last-child(1),
        &:nth-last-child(2) {
          margin: 1.5rem 8.184px;
        }
      }
    }
  }
}
#main-footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 2rem;
  border-top: 1px solid #6f0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #6f0000;
  text-transform: uppercase;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-gap: 10px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  h5 {
    margin: 0;
    z-index: 5;
    font-size: 1rem;
    letter-spacing: 1.5px;
  }
  .icons {
    a {
      text-decoration: none;
      margin-left: 0.5rem;
      i {
        font-size: 1.5rem;
      }
    }
  }
}
header {
  width: 100%;
  position: fixed;
  z-index: 10;
}
#loader,
#loaders {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 500;
  justify-content: center;
  align-items: center;
  background: gainsboro;
  display: flex;

  // div {
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   z-index: 9999;
  //   h5 {
  //     margin: 0;
  //   }
  // }
}

/* PULSE BUBBLES */
.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.pulse-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6f0000;
}

.pulse-bubble-1 {
  animation: pulse 0.4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
}
.pulse-bubble-3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}
@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}
.menu-btn {
  height: 45px;
  width: 45px;
  margin-top: 30px;
  transform: translate(-50%, -50%);

  &:hover {
    cursor: pointer;
  }
  .hamburgerIcon {
    height: 3.5px;
    width: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 40px;
    background-color: #000;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all ease 0.5s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: inherit;
      border-radius: inherit;
      background-color: inherit;
      margin: auto;
      width: 50%;
      transition: all ease 0.5s;
    }

    &::before {
      top: -16px;
      left: 0;
      transform-origin: left;
    }

    &::after {
      bottom: -16px;
      right: 0;
      transform-origin: right;
    }
    &.open {
      transform: translate(-50%, -50%) rotate(135deg);
      &::before {
        top: 0;
        transform: translateX(100%) rotate(-90deg);
      }

      &::after {
        bottom: 0;
        transform: translateX(-100%) rotate(-90deg);
      }
    }
  }
}

/**
 *
 * Scroll Bar
 *
 */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #220101;
  // border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6f0000;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: #ada996;
}
